<%= render "shared/header" %>

<div class="room-title">
  どの界隈？
</div>

<% @rooms.each do |room| %>
  <%= link_to room_places_path(room) do %>
    <%= room.name %>
  <% end %>
  <%= room.description %>
<% end %>


 <%= link_to (user_signed_in? ? new_room_path: user_session_path), class: 'room-register-btn' do %>
    <span class='room-register-btn-text'>
      新しいルームを作成
    </span>

  <% end %>