<%= render "shared/header" %>
<div class= "main">
<div class= "index-main">
   <div class="index-main-upper">
    <div class="index-main-title">
      <%= @room.name %>
    </div>
  <div class= "place-search">
      <%= search_form_for @q, url: search_room_places_path(@room), html: {id: "detailed-search-form"} do |f| %>
      <div class= "place-search-box">
      <%= f.text_field :name_or_category_or_prefecture_or_address_cont, placeholder: 'キーワードで絞り込み' %>
     </div>
     <div class= "place-search-btn">
      <button type="submit" class="place-search-submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
  
     </div>
     <% end %>
  </div>
</div>  


<% @places.each do |place| %>
  <%= render partial: "places/place", locals: { place: place, room: @room } %>
<% end %>


   <%= link_to (user_signed_in? ? new_room_place_path(@room) : user_session_path), class: 'place-register-btn' do %>
    <span class='place-register-btn-text'>
      ＋
    </span>
    <span class="tooltip-text">場所を登録</span>
  <% end %>

</div>

</div>
 <%= render "shared/footer"%>