<%= render "shared/header" %>

<div class="place-register-main">
  
    <input id="mapSearchBox" type="text" placeholder="登録したい場所を検索">
  <div id="map"></div>


 
  <%= form_with model: @place, id: "place-form", local: true do |form| %>
    <label for="place_name">この場所を登録しますか？</label>
    <%= form.text_field :name, id: "name", readonly: true %>
    <%= form.text_field :prefecture, id: "prefecture", readonly: true %>

    <%= form.text_field :category, id: "category" %>
    <%= form.text_field :address, id: "address" %>
    <%= form.hidden_field :url, id: "url" %>
    <%= form.hidden_field :website, id: "website" %>
    <%= form.hidden_field :latitude, id: "latitude" %>
    <%= form.hidden_field :longitude, id: "longitude" %>
    <%= form.text_field :place_id, id: "place_id" %>
    <%#= form.hidden_field :user_id, value: current_user.id, id: "user_id" %>  

    <%= form.submit "はい" %>
  <% end %>

</div>
